    <div class="container-fluid change_Pswd">
        <div class="row pull-right">
            <form name="cPsdForm" class="col-sm-12">
                <input type="text"      name="email" id="password"class="col-sm-12 form-control focus" placeholder="Email"  ng-model="reset.email" required/>
                <br /><br />
                <input type="password"  name="passold"  class="col-sm-12 form-control focus" placeholder="Old Password" ng-model="reset.oldPassword" required/>
                <br /><br />
                <input type="password"  name="pass" id="confirm_password" class="col-sm-12 form-control focus" placeholder="New Password" ng-model="reset.newPassword" required/>
                <br /><br />
                <input type="password"  name="confirmPass"  class="col-sm-12 form-control focus" placeholder="Confirm New Password" ng-model="cpass"required/>
                <br /><br />
                <button class="btn-primary pull-right col-sm-12" ng-click="changePswd()" ng-disabled="reset.newPassword!=cpass" tag="Password not matched">Request Change</button>
            </form>

        </div>
    </div>