    <div class="col-sm-4 forgot_pswd">
        <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">
        <div class="three-quarters-loader" ng-init="floader=false "ng-show="floader">
            Loading…
        </div>
        <div class="container-fluid">

            <div class="row">

                <input type="email" name="email" class="form-control focus col-sm-12" placeholder="Email" ng-model="reqPswd.email" required/>
            </div>
            <div class="row">
                <input type="tel" name="tel" class="form-control focus col-sm-12" placeholder="Mobile" ng-model="reqPswd.tel" required/>
            </div>
            <div class="row">
                <button class="col-sm-6 pull-right btn-primary " ng-click="forgotPswd()">Request Password</button>
            </div>
        </div>

    </div>
