    <div >

        <div  class="container-fluid login_div" >
            <div class="row" ng-init="invalid_cred=false;" ng-show="invalid_cred">
                <div class="col-sm-12 pull-right"> <p class="error_notify">Login Details are invalid.</p></div>
            </div>
            <form>
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" id="un" class="form-control focus" placeholder="Phone or email" ng-model="login_cred.username" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <input type="password" id="pass" class=" form-control focus" placeholder="Password" ng-model="login_cred.password"/>
                </div>
                <div class="col-sm-4">
                    <button type="submit"class="btn-primary" ng-click="authUser()" ng-disable="">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pull-right">
                    <a ui-sref="ForgotPswd" class="col-sm-offset-6">Forgot Password?</a>
                </div>
            </div>
                </form>
        </div>

        <div  class="container-fluid signup_div">
            <form>
            <div class="row">
                <p style="display: inline; font-weight: bolder">New to Twitter?</p> Sign up
            </div>
            <div class="row col-sm-12">
                <input type="text" class="form-control focus" placeholder="Full Name" ng-model="new_user.name" required/>
            </div>
            <div class="row col-sm-12">
                <input type="email" class="form-control focus" placeholder="Email" ng-model="new_user.email" required/>
            </div>
            <div class="row col-sm-12">
                <input type="tel" pattern="[7-9]{1}[0-9]{9}" class="form-control focus" placeholder="phone" ng-model="new_user.phone"required/>
            </div>
            <div class="row col-sm-12">
                <input type="password" class="form-control focus" placeholder="Password" ng-model="new_user.password"required/>
            </div>
            <div class="row col-sm-12">
                <button class="btn-info pull-right" ng-click="addUser()">Sign up for Twitter</button>
            </div>
            </form>
        </div>
        </div>

    </div>